# HOMEWORK 3 - CS 418

## Problem 1

    y = (5)x + 10

a 
<br>
> dependent variables = y <br>
> independent variables = x <br>

b
<br>
> y intercept = 10 <br>
> slope = 5 <br>

c
<br>
> y = 14(5) + 10 = 80 <br>

d
<br>
> positive because as the number of late days increases, so does the late payment fee

## PROBLEM 2

    y = 100 + 50x <br>
a <br>
> dependent variables = y <br>
> independent variables = x <br>

b
<br>
> the y intercept represents the initial value for the service.
> the slope represents the multiplicative rate at which you have to pay the hourly fee.

c
<br>
> 100 + 50(4) = 300

d
<br>
> The correlation is positive because as the number of hours increases, so does the total fee.

In [5]:
import pandas as pd
import seaborn as sns
import statsmodels.formula.api as smf
from sklearn import linear_model
import scipy.stats as st
import numpy as np

col = ["endorsements","salary"]
df = pd.DataFrame(columns=col)

df.loc[0] = [0,2]
df.loc[1] = [3,8]
df.loc[2] = [2,7]
df.loc[3] = [1,3]
df.loc[4] = [5,13]
df.loc[5] = [5,12]
df.loc[6] = [4,9]
df.loc[7] = [3,9]
df.loc[8] = [0,3]
df.loc[9] = [4,10]

In [6]:
df

  endorsements salary
0            0      2
1            3      8
2            2      7
3            1      3
4            5     13
5            5     12
6            4      9
7            3      9
8            0      3
9            4     10

In [7]:
df.mean(axis=0)

endorsements    2.7
salary          7.6
dtype: float64

In [8]:
df.std(axis=0)

endorsements    1.888562
salary          3.835507
dtype: float64

In [9]:
from sklearn import linear_model
model = linear_model.LinearRegression()
linear_model = model.fit(X = df['endorsements'].values.reshape(-1,1), y =  df['salary'])
print(linear_model.intercept_)
print(linear_model.coef_)

2.233644859813084
[1.98753894]

In [163]:
# print("correlation coefficient")
# print(linear_model)
# print( df.corr() )

# df['endorsements'].values.corr(df['salary'], method='pearson')

# type(df['salary'])
df.endorsements.astype('float64').corr(df.salary.astype('float64'), method="pearson")

# np.corrcoef( df['endorsements'].values, df['salary'].values)
# df['endorsements'].values
# df['salary'].values

0.978642720402573

In [193]:
2.234 + 3 * 1.988

8.198

In [194]:
(10 - 2.234) / 1.988

3.9064386317907447

In [10]:
# summed = 0
# for i in range(0,10):
#     summed += (linear_model.predict(i) - data.salary[i]) ** 2
# summed

linear_model.score(df['endorsements'].values.reshape(-1,1), df['salary'])

0.9577415741969487

In [11]:
df

  endorsements salary
0            0      2
1            3      8
2            2      7
3            1      3
4            5     13
5            5     12
6            4      9
7            3      9
8            0      3
9            4     10

In [37]:
pred_y = linear_model.predict(df.endorsements.values.reshape(-1,1))
pred_y
df['predicted'] = pred_y
df

  endorsements salary  predicted
0            0      2   2.233645
1            3      8   8.196262
2            2      7   6.208723
3            1      3   4.221184
4            5     13  12.171340
5            5     12  12.171340
6            4      9  10.183801
7            3      9   8.196262
8            0      3   2.233645
9            4     10  10.183801

In [39]:
ssr = np.sum((df.salary - df.predicted) ** 2)
ssr

5.595015576323987

In [40]:
sst = np.sum((df.salary - np.mean(df.salary))**2)
sst

132.4

In [42]:
r2 = 1 - (ssr/sst)
r2

0.9577415741969487

In [44]:
132.4-5.595

126.805